*{margin:0;padding:0;box-sizing:border-box;--moz--box-sizing:border-box;--webkit--box-sizing:border-box;}
a{text-decoration:none;}
ul{list-style:none;}
img{width:100%;}
body{background: url('../image/fundo-aside.jpg');}
/* BOXS */
.container{width:1400px;max-width:100%; padding:25px 0px;}
.content{padding:50px 0}
.grid-2{display:grid;grid-template-columns: 30% 70%;}
.grid-a{display:grid;grid-template-columns: 60% 40%;}
.grid-3{display:grid;grid-template-columns: 30% 30% 30%;padding-top:35px;}
/* COLOR */
.bg-fff{background:#fff;}